@font-face {
    font-family: "Open Sans";
    src: url(/fonts/Open_Sans/OpenSans-Regular.woff) format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Open Sans";
    src: url(/fonts/Open_Sans/OpenSans-SemiBold.woff) format("woff");
    font-weight: 600;
}
@font-face {
    font-family: "Open Sans";
    src: url(/fonts/Open_Sans/OpenSans-Bold.woff) format("woff");
    font-weight: 700;
}

/* header */
.header-container {
    margin: 0 auto;
    max-width: 1024px;
    background: #2d3136;
    color: #ffffff;
}

/* main */
.main-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
    .main-container {
        max-width: 1024px;
        padding-left: 0;
        padding-right: 0;
    }
}
.main-block__wrapper {
    min-height: 980px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad;
}
@media screen and (min-width: 960px) {
    .main-block__wrapper {
        min-height: 650px;
    }
}
.btn {
    padding: 20px 77px;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: #ff0000;
    color: #d7d7d7;
    font-size: 24px;
}
.main-block__button {
    cursor: pointer;
}

/* pop-up form */
.popup-form {
    display: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.popup-form--show {
    display: block;
}
.popup__wrapper {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 80%;
    height: 640px;
    border-radius: 10px;
    background: #ffffff;
    color: #666666;
}
@media screen and (min-width: 480px) {
    .popup__wrapper {
        height: 865px;
    }
}
@media screen and (min-width: 767px) {
    .popup__wrapper {
        border-radius: 30px;
    }
}
@media screen and (min-width: 960px) {
    .popup__wrapper {
        top: 60px;
        max-width: 910px;
        /*height: 555px;*/
        height: 525px;
    }
}
.popup__block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 25px 20px 25px 20px;
}
@media screen and (min-width: 767px) {
    .popup__block {
        padding: 50px 55px 70px 50px;
    }
}
.popup__block_close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}
@media screen and (min-width: 767px) {
    .popup__block_close {
        right: 25px;
        top: 25px;
    }
}
.popup__block_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.popup__block_header {
    margin-top: 0;
    margin-bottom: 25px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    order: 2;
}
@media screen and (min-width: 960px) {
    .popup__block_header {
        order: 1;
    }
}
@media screen and (min-width: 480px) {
    .popup__block_header {
        margin-bottom: 55px;
        font-size: 35px;
    }
}
.popup__block_images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    order: 1;
}
@media screen and (min-width: 960px) {
    .popup__block_images {
        width: 40%;
        order: 2;
    }
}
.popup__block_icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 10;
}
@media screen and (min-width: 960px) {
    .popup__block_icons {
        order: 1;
        top: 0;
    }
}
.popup__block_icons .img-box {
    flex: 0 0 15px;
    margin-right: 10px;
    width: 100%;
}
@media screen and (min-width: 480px) {
    .popup__block_icons .img-box {
        flex-basis: 40px;
        margin-right: 5px;
    }
}
.popup__block_icons .img-box img {
    width: 15px;
}
@media screen and (min-width: 480px) {
    .popup__block_icons .img-box img {
        width: 37px;
    }
}
.popup__block_images .bigimg-box {
    width: 100%;
    order: 1;
    position: relative;
    left: 0;
    top: 0;
}
@media screen and (min-width: 960px) {
    .popup__block_images .bigimg-box {
        order: 2;
        left: -20px;
        top: 35px;
    }
}
.popup__block_images .bigimg-box img {
    width: 100%;
}
@media screen and (min-width: 650px) {
    .popup__block_images .bigimg-box img {
        width: 60%;
    }
}
@media screen and (min-width: 960px) {
    .popup__block_images .bigimg-box img {
        width: auto;
    }
}
.popup__block_form {
    width: 100%;
    order: 3;
}
@media screen and (min-width: 960px) {
    .popup__block_form {
        width: 40%;
    }
}
.popup__block_form form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.popup__block_form form .form-label {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}
@media screen and (min-width: 480px) {
    .popup__block_form form .form-label {
        font-size: 16px;
    }
}
.popup__block_form form .form-input {
    display: block;
    padding: 12px 20px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
    outline: none;
    border: 1px solid #b5b5b5;
    border-radius: 7px;
}
@media screen and (min-width: 480px) {
    .popup__block_form form .form-input {
        font-size: 20px;
    }
}
.popup__block_form form .form-input--position {
    margin-bottom: 30px;
}
.popup__block_form form .form-input:focus {
    outline: none;
}
.popup__block_form form .submit-button {
    display: block;
    padding: 25px 20px;
    margin-bottom: 12px;
    width: 100%;
    /*background-color: #3cc36d;*/
    background: linear-gradient(to bottom, rgb(56,215,114), rgb(59,198,110));
    color: #ffffff;
    border-color: transparent;
    border-radius: 7px;
    box-shadow: 0px 7px 3px -3px rgb(54,170,96);
    text-align: left;
    font-size: 19px;
    font-weight: 600; /* semibold */
    cursor: pointer;
}
@media screen and (min-width: 480px) {
    .popup__block_form form .submit-button {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 25px;
    }
}
.popup__block_form form .submit-button span {
    position: relative;
}
.popup__block_form form .submit-button span::before {
    content: url(/upload/img-generator/icon-finger.png);
    /*content: url(/upload/img-generator/icon-button.png);*/
    position: absolute;
    right: -36px;
    top: -2px;
}
@media screen and (min-width: 480px) {
    .popup__block_form form .submit-button span::before {
        right: -45px;
    }
}
.popup__block_form form .file-types {
    display: none;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
@media screen and (min-width: 480px) {
    .popup__block_form form .file-types {
        display: block;
    }
}
.popup__block_form form .file-types span {
    margin-right: 15px;
}


/* form responses */
.form-response-block {
}
